<!doctype html>
<head>
    <title>DanielPageProbablyHerHead</title>
    <link rel="stylesheet" type = "text/css" href="../static/style.css">
<html>
<script src="../static/jquery.js" type="text/javascript"></script>
<script src="../static/jovoscropt.js"> type="text/javascript"</script>
<script type="text/javascript">
function tables() {
	var body = document.getElementsByTagName("body")[0];
	var tbl     = document.createElement("table");
	var tblBody = document.createElement("tbody");
        var counter
	var images = [{% for album in allAlbums%}
	"{{album}}",
	{% endfor %}
	"http://www.google.com/images/srpr/logo3w.png"
	];
	for (var j = 0; j < 5; j++) {
		var row = document.createElement("tr");
		for (var i = 0; i < 5; i++) {
			var cell = document.createElement("td");
			var img = document.createElement("img");
		        img.src = images[i+j];
			img.width = 150;
			img.height = 150;
			var div = document.createElement("div");
			div.className = "star-rating";
			div.innerHTML = "<s><s><s><s><s></s></s></s></s></s>";
			cell.appendChild(img);
			cell.appendChild(div);
			row.appendChild(cell);
		}
		tblBody.appendChild(row);
	}
	tbl.appendChild(tblBody);
	body.appendChild(tbl);
	tbl.setAttribute("border", "0");
}
</script>

<style type="text/css">
.image {
   position:fixed;
top:150px;
right:425px;
}
.image .text {
    position:absolute;
    top:10px; /* in conjunction with left property, decides the text position */
    left:20px;
    font-size:40px;
    text-transform:uppercase;
    width:300px; /* optional, though better have one */
}

h1 {
text-align:center;
font-size:80px;
}

.button {
position:fixed;
top:575px;
right:570px;
}

</style>

</head>

<form action="" method= "POST">

<h1> Albumonator </h1>


<div class="image">
  <img src="{{source}}" alt="" name="Pic" class="generated-art" width="400" height="400"></img>
          <div class="text">
              <p> {{band}} </p>
              <p> {{name}} </p>
           </div>
        </div>
	

	
<div class="button">	
<input type=submit name="button" value="Generate" class="generate" style="width:100px;height:50px"></input>
</div>
	

	<br><br><br>
	

</body>

</form>

</html>


