<!doctype html>
<head>
    <title>DanielPageProbablyHerHead</title>
    <link rel="stylesheet" type = "text/css" href="../static/style.css">
<html>
<script src="../static/jquery.js" type="text/javascript"></script>
<script src="../static/jovoscropt.js"> type="text/javascript"</script>
<script type="text/javascript">
function tables() {
	var body = document.getElementsByTagName("body")[0];
	var tbl     = document.createElement("table");
	var tblBody = document.createElement("tbody");
	var images = [{% for album in allAlbums%}
	"{{album}}",
	{% endfor %}
	"http://www.google.com/images/srpr/logo3w.png"
	];
	for (var j = 0; j < 5; j++) {
		var row = document.createElement("tr");
		for (var i = 0; i < 5; i++) {
			var cell = document.createElement("td");
			var img = document.createElement("img");
			img.src = images[i+j];
			img.width = 150;
			img.height = 150;
			var div = document.createElement("div");
			div.className = "star-rating";
			div.innerHTML = "<s><s><s><s><s></s></s></s></s></s>";
			cell.appendChild(img);
			cell.appendChild(div);
			row.appendChild(cell);
		}
		tblBody.appendChild(row);
	}
	tbl.appendChild(tblBody);
	body.appendChild(tbl);
	tbl.setAttribute("border", "0");
}
</script>

<style type="text/css">
.image {
    position:relative;
    float:left; /* optional */
}
.image .text {
    position:absolute;
    top:10px; /* in conjunction with left property, decides the text position */
    left:10px;

    width:180px; /* optional, though better have one */
}
</style>

</head>

<form action="" method= "POST">

<body onload="tables()">
    <!-- Every time someone rates an image:
    <script>
        $.getJSON("http://jsonip.appspot.com?callback=?",
            function(data){
                alert( "Your ip: " + data.ip);
                });
    Use the above function to access the user's IP, then pass it into the database.
    -->


<div class="slide-out-div">
	<a class="handle" href="http://link-for-non-js-users.html">Content</a>
	<h3>Albumartinator</h3>
	<p>
        This Website Generates Album Art.
        <br>
        <br>
        <!-- We can't actually save images/setup pixlr properly until we're deployed on a website.-->
        <script type="text/javascript" src="../static/pixlr.js"></script>
        <input type=submit name="button" value="Generate" class="generate" style="width:100px;height:50px"></input>
	<br />
	
        <div class="image">
          <img src="{{source}}" alt="" name="Pic" class="generated-art" width="200" height="200"></img>
          <div class="text">
              <p> {{band}} </p>
              <p> {{name}} </p>
           </div>
        </div>
        
        <br />	
        <input type=submit name="button" value="Save" class="save" style="width:45px;height:50px"></input>
    	<input type=submit name="button" value="Edit" class="edit" style="width:45px;height:50px"></input>
	</p>
	
	
</div>


</body>

</form>

</html>

