<!DOCTYPE html>
<html><head>
<title>Survey</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="style.css" media="all" />                          <!-- CUSTOM STYLES -->
</head><body><a id="top-of-page"></a><div id="wrap" class="clearfix">
<!-- ===================================== END HEADER ===================================== -->


	<!-- 
	<!-- Headings 1–6 -->
<center><h1><i>Personal Survey:</i></h1>
		<!-- Text Field -->
<label for="text1">What is your zipcode?</label>
<input id="text1" type="text" /></center>
<br>
  <br>
 <!-- Columns/Grid -->
<div class="col_6">
  <center> What are your favorite movie genres?
  <!-- Checkbox -->
<center><input type="checkbox" id="check1" />
  <label for="check1" class="inline">Action & Adventure</label>
<center><input type="checkbox" id="check2" /> 
  <label for="check2" class="inline">Comedy</label>
<center><input type="checkbox" id="check3" />
  <label for="check3" class="inline">Documentary</label>
<center><input type="checkbox" id="check4" />
  <label for="check4" class="inline">Drama</label>
<center><input type="checkbox" id="check5" />
  <label for="check5" class="inline">Family</label>
<center><input type="checkbox" id="check6" />
  <label for="check6" class="inline">Foreign</label>
<center><input type="checkbox" id="check7" />
  <label for="check7" class="inline">Foreign</label>
<center><input type="checkbox" id="check8" />
  <label for="check8" class="inline">Horror</label>
<center><input type="checkbox" id="check9" />
  <label for="check9" class="inline">Independent</label>
<center><input type="checkbox" id="check10" />
  <label for="check10" class="inline">Romance</label>
<center><input type="checkbox" id="check11" />
  <label for="check11" class="inline">Sci-Fi & Fantasy</label>
<center><input type="checkbox" id="check12" />
  <label for="check12" class="inline">Sports</label>
<center><input type="checkbox" id="check13" />
  <label for="check13" class="inline">Thriller</label>
<center><input type="checkbox" id="check14" />
  <label for="check14" class="inline">War</label></center>
</div>
 <!-- Columns/Grid -->
<div class="col_5">
 <center> What are your favorite types of food?
  <!-- Checkbox -->
<center><input type="checkbox" id="check1" />
  <label for="check1" class="inline">American</label>
<center><input type="checkbox" id="check2" /> 
  <label for="check2" class="inline">Asian</label>
<center><input type="checkbox" id="check3" />
  <label for="check3" class="inline">Bakery</label>
<center><input type="checkbox" id="check4" />
  <label for="check4" class="inline">Breakfast</label>
<center><input type="checkbox" id="check5" />
  <label for="check5" class="inline">Chinese</label>
<center><input type="checkbox" id="check6" />
  <label for="check6" class="inline">Fast Food</label>
<center><input type="checkbox" id="check7" />
  <label for="check7" class="inline">Indian</label>
<center><input type="checkbox" id="check8" />
  <label for="check8" class="inline">Italian</label>
<center><input type="checkbox" id="check9" />
  <label for="check9" class="inline">Mexican</label>
<center><input type="checkbox" id="check10" />
  <label for="check10" class="inline">Pizza</label>
<center><input type="checkbox" id="check11" />
  <label for="check11" class="inline">Sandwiches</label>
<center><input type="checkbox" id="check12" />
  <label for="check12" class="inline">Seafood</label>
<center><input type="checkbox" id="check13" />
  <label for="check13" class="inline">Steakhouse</label>
<center><input type="checkbox" id="check14" />
  <label for="check14" class="inline">Sushi</label></center>
</div></center>
<br>
<br>
<br>
<!-- Buttons w/Colors -->
<center><button class="medium green">Submit!</button></center>
<br>
	

<!-- ===================================== START FOOTER ===================================== -->
</div>

</div><!-- END WRAP -->
