.slide-out-div {
	padding: 20px;
	width: 250px;
	background: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}
body{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	background:#0F0F0F;
	color:#FAFAFA;
}
.star-rating s:hover {
    color: red;
}
.star-rating s,
.star-rating-rtl s {
    color: black;
    font-size: 50px;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
}
.star-rating {
    padding: 2px;
}
.star-rating-rtl {
    background: #555;
    display: inline-block;
    border: 2px solid #444;
}
.star-rating-rtl s {
    color: yellow;
}
.star-rating s:hover:before{
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";
}
.star-rating-rtl s:hover:after{
    content: "\2605";
}
.star-rating-rtl s:after {
    content: "\2606";
}
