<!DOCTYPE html>
<html>
<!-- This site brought to you by the National Endowment for the Arts, Arthur Vining Davis Foundation, Reading Rainbow, Sesame Street, and the letter 8 -->
<!-- This program made possible by contributions from users like you -->
<title>Recipe Pricer</title>
<head>		
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style type="text/css">
    body{
    font-family: "Arial";
    padding-top:2%;
    padding-left:2%
    }
    body>div{
    padding-left: 5%;
    padding-right: 1%;
    color:white;
    }
    header{
    color: cyan;
    }
  </style>
  
  <title>Recipe Pricer</title>
</head>


<body bgcolor="#333333">
  <header>
    <font size="20">
      Recipe Pricer
    </font>
    <hr><br>
  </header>
  
  <form method="POST">
    <font color="white">
      What would you like to make? 
      <br>
    </font>
    <input type="text" name="foodname"></input>
    <input type="submit" value="Find Price"></input>
  </form>
  
  <br><br>
  <font size = "2" color = "white">
    Period 7, Group 3 <br>
    <font size = "1" color = "white">
      &nbsp; &nbsp; Batya Zamansky <br>
      &nbsp; &nbsp; Brian Lam <br>
      &nbsp; &nbsp; Dexter Tong <br>
      &nbsp; &nbsp; Zuzanna Rybicka
  </font>
</body>
</html>
