<html>
	<head>
		<style type="text/css">
		body{
			font-family: "Arial";
			padding-top:2%;
			padding-left:2%
		}
		body>div{
			padding-left: 5%;
			padding-right: 1%;
			color:white;
		}
		header{
			color: cyan;
		}
	</style>
		<title>Recipe Pricer</title>
	</head>
	<body bgcolor=#333333>
		<header>
		<font size="20">
			Recipe Pricer
		</font>
		<hr><br>
		</header>
		<font color="white">
			Breakdown for: {{Recipe}}
			Ingredients: 
				{% for element in ingredients %}
					<li>element</li>
				{% endfor %}
		</font>
	</body>
</html>