<!DOCTYPE html>
<html>
<head>
    <title>Aviary API</title>
    <!-- Load Feather code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

<!-- Instantiate Feather -->
<script type="text/javascript">
        var featherEditor = new Aviary.Feather({
            apiKey: '046a0b963',
            apiVersion: 2,
            tools: 'all',
            appendTo: '',
            onSave: function(imageID, newURL) {
                var img = document.getElementById(imageID);
                img.src = newURL;
            }
        });

        function launchEditor(id, src) {
            featherEditor.launch({
                image: id,
                url: src
            });
            return false;
        }
</script>

</head>

<body>

<div id="injection_site"></div>

<img id="costanza" src="http://1-media-cdn.foolz.us/ffuuka/board/a/image/1344/39/1344395616591.jpg"/>

<!-- Add an edit button, passing the HTML id of the image and the public URL ot the image -->
<p><input type="image" src="http://images.aviary.com/images/edit-photo.png" value="Edit photo" onclick="return launchEditor('costanza', 'http://1-media-cdn.foolz.us/ffuuka/board/a/image/1344/39/1344395616591.jpg');" /></p>

</body>

</html>
