<!DOCTYPE html>
<html>
<head>
    <title>Pixlr API</title>
    <script type="text/javascript" src="../static/pixlr.js"></script>
	<script type="text/javascript">
		pixlr.settings.target = 'ml7.stuycs.org:9018/save/';
		pixlr.settings.exit = 'ml7.stuycs.org:9018';
		//pixlr.settings.credentials = true;
		pixlr.settings.method = 'get';
	</script>
</head>

<body>

    <b>Open image editor</b><br />
    <a href="javascript:pixlr.edit({image:'http://developer.pixlr.com/_image/example3.jpg', title:'Example image 3', service:'express', target:'ml7.stuycs.org:9018/save/', exit:'ml7.stuycs.org:9018'});"><img src="http://developer.pixlr.com/_image/example3_thumb.jpg" width="250" height="150" title="Edit in pixlr" /></a>
    <br />

</body>

</html>
