<!DOCTYPE html>

<form action="html_form_action.asp" method ="GET" name="myform" style="background-color:#E0FFFF">

<h1> Hurricane Sandy's Destruction </h1>
<h2> Help sort out the cyber effects of the storm ! </h2>
<input type="hidden" value="" id="hidSrc"></input>
<div style="float: right;">
<a href="/slideshow/Sandy">View Images</a> 
</div>

{% if url_list == []%}
<b>
  NO IMAGES?!?! 
</b>

{%else%}

{% for url in url_list%}
<img src={{url}} width="25%" onclick="document.getElementById('hidSrc').value = this.src; document.myform.submit();">
{%endfor%}

{%endif%}

</form>
