<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>H.E.L.P.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Your Guide to What's Happening!</font></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#survey"><i class="icon-pencil"></i>
	      Survey</a></li>
	      <li><a href="#profile"><i class="icon-user icon-white"></i>
	      Profile</a></li>
	      <li><a href="#about"><i class="icon-globe
      icon-white"></i>
	      About</a></li>
              <li><a href="#contact"><i class="icon-search
      icon-white"></i>
	      Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <center><h1>Personal Survey:</h1></center>
      <br>
<form method="POST">
      <center><label for="zipcode">What is your zipcode?</label>
      <input name=zipcode type="text" id="input" placeholder="Zipcode"></center>

<br>
  <div class="row">
  <div class="span4">
What are your favorite movie genres?<br><br>
    <label class="checkbox">
    <input type="checkbox" name=Action id="Action & Adventure"> Action & Adventure</label>
    <label class="checkbox">
    <input name=cb2 type="checkbox" id="Comedy"> Comedy</label>
    <label class="checkbox">
    <input name=cb3 type="checkbox" id="Documentary"> Documentary</label>
    <label class="checkbox">
    <input name=cb4 type="checkbox" id="Drama"> Drama</label>
    <label class="checkbox">
    <input name=cb5 type="checkbox" id="Family"> Family</label>
    <label class="checkbox">
    <input name=cb6 type="checkbox" id="Foreign"> Foreign</label>
    <label class="checkbox">
    <input name=cb7 type="checkbox" id="History"> History</label>
    <label class="checkbox">
    <input name=cb8 type="checkbox" id="Horror"> Horror</label>
    <label class="checkbox">
    <input name=cb9 type="checkbox" id="Independent"> Independent</label>
    <label class="checkbox">
    <input name=cb10 type="checkbox" id="Romance"> Romance</label>
    <label class="checkbox">
    <input name=cb11 type="checkbox" id="Sci-Fi & Fantasy"> Sci-Fi & Fantasy</label>
    <label class="checkbox">
    <input name=cb12 type="checkbox" id="Sports"> Sports</label>
    <label class="checkbox">
    <input name=cb13 type="checkbox" id="Thriller"> Thriller</label>
    <label class="checkbox">
    <input name=cb14 type="checkbox" id="War"> War</label>
  </div>
  <div class="span4">
    What are your favorite types of food?<br><br>
<label class="checkbox">
    <input type="checkbox" id="American"> American</label>
    <label class="checkbox">
    <input type="checkbox" id="Asian"> Asian</label>
    <label class="checkbox">
    <input type="checkbox" id="Bakery"> Bakery</label>
    <label class="checkbox">
    <input type="checkbox" id="Chinese"> Chinese</label>
    <label class="checkbox">
    <input type="checkbox" id="Diner"> Diner</label>
    <label class="checkbox">
    <input type="checkbox" id="Fast Food"> Fast Food</label>
    <label class="checkbox">
    <input type="checkbox" id="Indian"> Indian</label>
    <label class="checkbox">
    <input type="checkbox" id="Italian"> Italian</label>
    <label class="checkbox">
    <input type="checkbox" id="Mexican"> Mexican</label>
    <label class="checkbox">
    <input type="checkbox" id="Pizza"> Pizza</label>
    <label class="checkbox">
    <input type="checkbox" id="Sandwiches"> Sandwiches</label>
    <label class="checkbox">
    <input type="checkbox" id="Seafood"> Seafood</label>
    <label class="checkbox">
    <input type="checkbox" id="Steakhouse"> Steakhouse</label>
    <label class="checkbox">
    <input type="checkbox" id="Sushi"> Sushi</label>
  </div>
  <div class="span4">
What is your favorite baseball team?<br><br>
    <select name=select1>
  <option value="Choose">Choose</option>
  <option value="Arizona Diamondbacks">Arizona Diamondbacks</option>
  <option value="Atlanta Braves">Atlanta Braves</option>
  <option value="Baltimore Orioles">Baltimore Orioles</option>
  <option value="Boston Red Sox">Boston Red Sox</option>
  <option value="Chicago Cubs">Chicago Cubs</option>
  <option value="Chicago White Sox">Chicago White Sox</option>
  <option value="Cincinnati Reds">Cincinnati Reds</option>
  <option value="Cleveland Indians">Cleveland Indians</option>
  <option value="Detroit Tigers">Detroit Tigers</option>
  <option value="Houston Astros">Houston Astros</option>
  <option value="Kansas City Royals">Kansas City Royals</option>
  <option value="Los Angeles Angels">Los Angeles Angels</option>
  <option value="Los Angeles Dodgers">Los Angeles Dodgers</option>
  <option value="Miami Marlins">Miami Marlins</option>
  <option value="Milwaukee Brewers">Milwaukee Brewers</option>
  <option value="Minnesota Twins">Minnesota Twins</option>
  <option value="New York Mets">New York Mets</option>
  <option value="New York Yankees">New York Yankees</option>
  <option value="Oakland Athletics">Oakland Athletics</option>
  <option value="Philadelphia Phillies">Philadelphia Phillies</option>
  <option value="Pittsburgh Pirates">Pittsburgh Pirates</option>
  <option value="San Diego Padres">San Diego Padres</option>
  <option value="San Francisco Giants">San Francisco Giants</option>
  <option value="Seattle Mariners">Seattle Mariners</option>
  <option value="St. Louis Cardinals">St. Louis Cardinals</option>
  <option value="Tampa Bay Rays">Tampa Bay Rays</option>
  <option value="Texas Rangers">Texas Rangers</option>
  <option value="Toronto Blue Jays">Toronto Blue Jays</option>
  <option value="Washington Nationals">Washington Nationals</option>
</select>
  </div>
</div>
<br>

<center><input type="submit" name=button value="Save!"></input></center>
<br><br><br><br>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
