<!doctype HTML>
<form action="" method="post">

  <title>H.E.L.P.</title>

<style> 
body{background-color: #ff0000;}
h{
position:absolute;
left:1300px;
top:770px;
}
h {font-size:30px;}
h:hover{background-color: #ffffff;}
a:hover{background-color: #ffffff;}
c:hover{background-color: #ffffff;}
h1:hover{background-color: #ffffff;}
</style>

<h class = "help"> H.E.L.P. </h> 

<h1> Login Page </h1> 

<form name="input" action="html_form_action.asp" method="get">
<a> Create a username</a> <input type="text" name="username"><br>
<br></br>
<input type="submit" name="button" value="Submit">




<br></br>
<name="input" action="html_form_action.asp" method="get">
<c>Login by entering your username</c> <input type="text" name="login"><br>
<br></br>
<input type="submit" name="button" value="Login">


</form>



