<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script> <!-- PRETTIFY -->
    <script type="text/javascript" src="/static/js/kickstart.js"></script> <!-- KICKSTART -->
    <link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all" /> <!-- CUSTOM STYLES -->
    <style type="text/css">
      body {background-color:PowderBlue}
      h1 {font-size:30px;font-family:times;text-align:center;color:orange}
    </style>
      <div id="head">{% block head %}{% endblock %}
  </head>
  <body>
  <div id="body">{% block body %}{% endblock %}
  </div>
  </body>
<html>
