<!DOCTYPE html>
{% extends "head.html" %}
{% block head %}
<h1>{{song}}</h1>
<style type="text/css">
  #menu {
  position:relative;
  width:200px;
  left:20px;
  float:left;
  }
  #content {
  position:relative;
  width: 250px;
  padding:50px;
  float:left;
  }
  #ratepage {
  position:relative;
  top:45px;
  width: 200px;
  left:250px;
  float:left;
  }
</style>
{% endblock %}

{% block body %}
<div id="menu">
<ul class="menu vertical">
{% for song in songs %}
<li><a href="http://ml7.stuycs.org:7200/hello/song/{{song}}">{{song}}</a></li>
{% endfor %}
</ul>
</div>

<div id="content">
<img src="{{image}}" alt="{{song}}'s image"><br>
<p>
<font size="3">
Artist: <a href="{{url}}">{{artist}}</a><br>
Rank: {{rank}}<br>
Average Rating: {{average}}<br>
Listen to the song <a href="{{link}}">here!</a><br></br>
</font>
</p>
<form action="song" method="POST">
  <br>How awesome is {{song}}?<br>
  <input type="radio" name="rating" value="0" checked="checked">0 </input>
  <input type="radio" name="rating" value="1">1 </input>
  <input type="radio" name="rating" value="2">2 </input>
  <input type="radio" name="rating" value="3">3 </input>
  <input type="radio" name="rating" value="4">4 </input>
  <input type="radio" name="rating" value="5">5 </input>
  <br></br>

  Comments<br>
  <textarea name="comment" cols="50" rows="5"></textarea><br></br>
  <input type="submit" name="button" value="rate">
  <input type="submit" name="button" value="back">
  <input type="hidden" name="songname" value="{{song}}">
</div>

<div id="ratepage">

<ul class="alt">Comments
{% if ratings %}
{% for item in ratings["comment"] %}
<li id="id">{{item}}<br></li>
{% endfor %}
{% endif %}

</ul>
</div>


{% endblock %}

