<!DOCTYPE html>
<html>
  <head>
    <title>The Survival Kit</title>
      
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>      
    <script type="text/javascript" src="/static/js/kickstart.js"></script> 
    <script>
      $(document).ready(function(){
      $("#trigger").click(function(){
      $("#panel").toggle("fast");
      return false;
      });
      });
      </script>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>  
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:bold"/>  
  </head>

  <body onload="initialize(),changeBGC('fire')">
    <div id="navigation">
      <h style="padding-right: 30px; padding-left: 10px">The Survival Kit</h>
      <a onclick="changeBGC('fire'),changeMS('fire')" href="#tabs left"><span class="icon blue" data-icon="I"></span> Home</a>
      <a onclick="changeBGC('aliens'),changeMS('aliens')" href="#tabs left"><span class="icon blue" data-icon="G"></span> Alien Invasion</a>
      <a onclick="changeBGC('hurricane'),changeMS('hurricane')" href="#tabs left"><span class="icon blue" data-icon="a"></span> Hurricane</a>
      <a onclick="changeBGC('zombies'),changeMS('zombies')" href="#tabs left"><span class="icon blue" data-icon="u"></span> Zombie Apocalypse</a>
      <a id="trigger" style="position: absolute; right: 15px; top: 15px;" href="#" oncick="return false">Information</a>
    </div>
    
    <div id="panel">
    </div>
    
    <ul class="tabs left" id="tabsbar">
      <li><a href="#tabr1">Your Location</a></li>
      <li><a href="#tabr2">Get Directions</a></li>
      <li><a href="#tabr3">Search for Anything</a></li>
    </ul>
    
    <div id="tabr1" class="tab-content">
      <input id="address" type="text" placeholder="Enter Your Location" onkeydown="if(event.keyCode == 13) codeAddress()"/>
      <input type="button" value="Locate" onclick="codeAddress()">
    </div>
    <div id="tabr2" class="tab-content">
      <input id="start" type="text" placeholder="Start" onkeydown="if(event.keyCode == 13) calcRoute()"/>
      <input id="end" type="text" placeholder="End" onkeydown="if(event.keyCode == 13) calcRoute()"/>
      <input type="button" value="Get Directions" onclick="calcRoute()">
      <select id="mode" onchange="calcRoute()">
	<option value="DRIVING">Driving</option>
	<option value="WALKING">Walking</option>
	<option value="BICYCLING">Cycling</option>
	<option value="TRANSIT">Public Transit</option>
      </select>
    </div>
    <div id="tabr3" class="tab-content" id="search-panel">
	<input id="target" type="text" placeholder="Enter Keywords">
    </div>
    <div class="container" id="map_canvas" style="top:20px; left:10px; width:98.5%"></div>
  </body>  
</html>
