<!DOCTYPE html>
<html>
  <head>
    <title>The Survival Kit</title>
      
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>      
    <script type="text/javascript" src="/static/js/kickstart.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>  
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:bold"/>  
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
  </head>

  <body onload="initialize(),changeBGC('fire')">
    <div id="navigation">
      <a href="#"><h>The Survival Kit</h></a>
      <a onclick="changeBGC('fire'),changeMS('fire')" href="#home"><span class="icon blue" data-icon="I"></span> Home</a>
      <a onclick="changeBGC('aliens'),changeMS('aliens')" href="#aliens"><span class="icon blue" data-icon="G"></span> Alien Invasion</a>
      <a onclick="changeBGC('hurricane'),changeMS('hurricane')" href="#hurricane"><span class="icon blue" data-icon="a"></span> Hurricane</a>
      <a onclick="changeBGC('zombies'),changeMS('zombies')" href="#zombies"><span class="icon blue" data-icon="u"></span> Zombie Apocalypse</a>
      <a id="trigger" href="#info">What You Need to Know</a>
    </div>
    
    <div id="panel">
      <h5 id="disaster">Please select your disaster</h5>

      <hr class="alt1"/>

      <div class="accordion" id="accordion2">
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#facilities"><i class="icon-chevron-right"></i>
              Find Facilities
	    </a>
	  </div>
	  <div id="facilities" class="accordion-body collapse in">
	    <div class="accordion-inner">
              Dropdown menu here
	    </div>
	  </div>
	</div>
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#helpful_tips"><i class="icon-chevron-right"></i>
              Helpful Tips
	    </a>
	  </div>
	  <div id="helpful_tips" class="accordion-body collapse">
	    <div class="accordion-inner">
              insert tips
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="container" id="map_canvas" style="top:20px; left:10px; width:98.5%; height: 70%;"></div>

    <ul class="tabs left" id="tabsbar">
      <li><a href="#Home">Home</a><li>
      <li><a href="#Location">Your Location</a></li>
      <li><a href="#Directions">Get Directions</a></li>
      <li><a href="#Search">Search for Anything</a></li>
    </ul>
    
    <div id="Home" class="tab-content">
      <div id="wheel" style="visibility: hidden">
	<h2>Recently Spotted Aliens</h2>
	<div id="myCarousel" class="carousel slide" data-interval="5000">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
	    <img src="/static/img/toy_story_alien.jpg"></img>
	    <div class="carousel-caption">
	      <h4>What are these things called?</h4>
	      <p>insert bio</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/static/img/kang_kodos.jpg"></img>
	    <div class="carousel-caption">
	      <h4>Kang and Kodos</h4>
	      <p>Born in Springfield</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="static/img/decepticon.jpg"></img>
	    <div class="carousel-caption">
	      <h4>Decepticons</h4>
	      <p>Tip: avoid areas with traffic</p>
	    </div>
	  </div>
	  </div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
      </div>
    </div>
    <div id="Location" class="tab-content">
      <input id="address" type="text" placeholder="Enter Your Location"/>
    </div>
    <div id="Directions" class="tab-content">
      <form class="form-inline">
	<input id="start" type="text" placeholder="Start"/>
	<input id="end" type="text" placeholder="End"/>
	<select id="select2" onchange="calcRoute()">
	  <option value="DRIVING">Driving</option>
	  <option value="WALKING">Walking</option>
	  <option value="BICYCLING">Cycling</option>
	  <option value="TRANSIT">Public Transit</option>
	</select>
	<input type="button" value="Get Directions" onclick="calcRoute()">
      </form>
    </div>
    <div id="Search" class="tab-content" id="search-panel">
	<input id="target" type="text" placeholder="Enter Keywords">
    </div>
  </body>  
</html>
