<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map_canvas 
      {
      background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 85%,rgba(158,203,45,1) 100%);
      width: 100%;
      height: 85%;
      margin: 0px;
      padding: 0;
      }   

      
      {
      text-transform: uppercase;
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-size: 50px;
      line-height: 65px;
      color: #FFFFFF;
      margin: 20px;
      text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
                  2px -1px 0 #000000, 3px 0 0 #000000;
      }
    </style>
  </head>
  <body>
    <h> What You Need To Know </h>
    <p> Well, this is it. </p>
<p>It's December 21 2012, and the world is ending.</p>
    <p>So, naturally of course, you've come here to figure out how to survive the apocalypse. That's a good start, but you still are not sure exactly what we can do for you. It's simple. No matter what sort of world-ending destruction is threatening your existence, we've figured out just how feasible it is for you to wait out the hurricane/fire/alien attack/zombie plague no matter where you are. Simply enter your location and we'll tell you some nearby places which you should either stay near or avoid at all costs!</p>
    <p> For example, lets say you and your buddies are holed up in the Statue of Libery during an alien invasion. Wait, seriously? COME ON, haven't you seen "Independence Day"??? Why would you even be there in the first place??? Well, as it turns out large landmarks are a bad place to be during an alien invasion (something to do with symbolically destroying humananity).</p>
    
    <p> In any case, we wish you well and hope that you survive the cataclysmic destruction of humanity!  
    </p>
    </body>

    <h>
      Some Useful Disaster Tips
    </h>
    <body>
      <ul>1. On The Hurricane  </ul>
      <p> A Hurricane is a large storm comprised of clouds, thunder, lightning, wind, and rain. It typically has an eye, but it is blind. Calling yourself 'Nobody' will not save you from a Hurricane however, as they tend to disregard this sort of thing. Hurricanes are born when the spirits of angry drowned marching-band brass players get together and decide to ruin everyone else's parade. Typically, Apocalyptic Hurricanes occur when the spirits of rival marching bands run into each other and try to outdoo the other's Hurricane which really just reasults in one big mess much to the distress of those still living.  </p>
      <ul> To save yourself:</ul>
      <ul> DON'T GO OUTSIDE. Seriously, you might get knocked off by all manner of objects caught in the wind: branches, bricks, turkeys. And turkeys are not a nice way to go.</ul>
      <ul> Stock up on foodstuffs. In the days after the hurricane has died down, you can use the food as leverage to get valuable commodities such as a  year-long subscription to WoW.</ul>
      <ul> Keep cleaning supplies handy. You never know when the Johnsons might visit.</ul>
      <ul> In case your house/hovel/cardboard box is destroyed by the Hurricane, immediately find another shelter. No, umbrellas do not count. Unless Rihanna is holding one, in which case you're probably inside a mansion somewhere anyways.</ul>

      <ul> 2. On Fire</ul>
<p> OW OW OW OW OWEEEEE OW OW OW OWEEE OWOWOWWOWEEEE EOWOWOOOOOOW WEEEEWOEO WEWO OWOWOW OWWWWWWWWCHEEEEEE    EEEEEEEEEEEE </p>


      <ul> If you are on Fire: </ul>
      <ul> Extinguish the fire through calm and controlled means. While screaming at the top of your lungs can be a good idea (in case you need help or the fire is capable of ebing scared away) typically it only exaserbates the situation. </ul>
      <ul> If there is a Fire around you:</ul>
<ul> Endeavor to extinguigh the fire. Contact the fire department. Try to reason with it, and see if it can be persuaded to let itsself burn out.</ul>
<ul> If the Fire cannot be controlled (ex: Daemon hellfire or that stuff from the last Harry Potter book) alert others to the Fire's presence and try to get everyone away from the Fire in a safe and orderly manner as quickly as possible. Do not run back to save the cat.</ul>


<ul> 3. On The Zombie</ul>
<p> The Zombie is an animated corpse. It is a member of the elitist 'Undead' club, along with the vampires (sparkly and non-sparkly) and average DMV workers. The Zombie enjoys eating human brains, which is why it often goes to great lengths to get its favorite treat. If a living human being is bitten by a Zombie, than that human being first loses fine motor controls, then the ability to play mahjong, 



<ul> To save yourself:</ul>


      




      <div>
    <input type="button" value="Return Home">
    </div>

  </body>
</html>
