<!DOCTYPE html>
<html><head>
<title>Survey</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="/static/js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="/static/js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />                          <!-- CUSTOM STYLES -->
</head><body><a id="top-of-page"></a><div id="wrap" class="clearfix">
<!-- ===================================== END HEADER ===================================== -->
<form action="" method="post">
	<!-- 
<p><div style="float:left;"><IMG height = "100px" width = "100px" SRC =
 "thluffy.png"><font size=20>H.E.L.P.: the site for sites!</font></p>

  <!-- Menu Horizontal -->
<form method = "POST">
  <ul class="menu">
<li><a href=""><span class="icon" data-icon="v"></span>Survey</a>
<li><a href=""><span class="icon" data-icon="i"></span>About</a>
<li><a href=""><span class="icon" data-icon="u"></span>Profile</a>
	<ul>
	<li><a href=""><span class="icon" data-icon="G"></span>Edit</a></li>
	<li><a href=""><span class="icon" data-icon="a"></span>Data</a>
		<ul>
		<li><a href=""><span class="icon" data-icon="M"></span>Restaurants</a></li>
		<li><a href=""><span class="icon" data-icon="2"></span>Movies</a></li>
		</ul>
	</li>
	</ul>
</li>
<li><a href=""><span class="icon" data-icon="s"></span>Help</a>
</ul></pre>

  <!-- Headings 1–6 -->
<center><h1><font color="9999CC" face="Andale Mono">Personal Survey:</font></h1>
		<!-- Text Field -->
<label for="text1">What is your zipcode?</label>
<input id="text1" type="text" /></center>
<br>
<br>
<!-- THIRDS -->
<div class="col_4">
What are your favorite movie genres?<br>
  <!-- Checkbox -->
<input type="checkbox" id="Action & Adventure" />
  <label for="Action & Adventure" class="inline">Action & Adventure</label><br>
<input type="checkbox" id="Comedy" /> 
  <label for="Comedy" class="inline">Comedy</label><br>
<input type="checkbox" id="Documentary" />
  <label for="Documentary" class="inline">Documentary</label><br>
<input type="checkbox" id="Drama" />
  <label for="Drama" class="inline">Drama</label><br>
<input type="checkbox" id="Family" />
  <label for="Family" class="inline">Family</label><br>
<input type="checkbox" id="Foreign" />
  <label for="Foreign" class="inline">Foreign</label><br>
<input type="checkbox" id="History" />
  <label for="History" class="inline">History</label><br>
<input type="checkbox" id="Horror" />
  <label for="Horror" class="inline">Horror</label><br>
<input type="checkbox" id="Independent" />
  <label for="Independent" class="inline">Independent</label><br>
<input type="checkbox" id="Romance" />
  <label for="Romance" class="inline">Romance</label><br>
<input type="checkbox" id="Sci-Fi & Fantasy" />
  <label for="Sci-Fi & Fantasy" class="inline">Sci-Fi & Fantasy</label><br>
<input type="checkbox" id="Sports" />
  <label for="Sports" class="inline">Sports</label><br>
<input type="checkbox" id="Thriller" />
  <label for="Thriller" class="inline">Thriller</label><br>
<input type="checkbox" id="War" />
  <label for="War" class="inline">War</label><br>
</div>

<div class="col_4">
What are your favorite types of food?<br>
  <!-- Checkbox -->
<input type="checkbox" id="American" />
  <label for="American" class="inline">American</label><br>
<input type="checkbox" id="Asian" /> 
  <label for="Asian" class="inline">Asian</label><br>
<input type="checkbox" id="Bakery" />
  <label for="Bakery" class="inline">Bakery</label><br>
<input type="checkbox" id="Breakfast" />
  <label for="Breakfast" class="inline">Breakfast</label><br>
<input type="checkbox" id="Chinese" />
  <label for="Chinese" class="inline">Chinese</label><br>
<input type="checkbox" id="Fast Food" />
  <label for="Fast Food" class="inline">Fast Food</label><br>
<input type="checkbox" id="Indian" />
  <label for="Indian" class="inline">Indian</label><br>
<input type="checkbox" id="Italian" />
  <label for="Italian" class="inline">Italian</label><br>
<input type="checkbox" id="Mexican" />
  <label for="Mexican" class="inline">Mexican</label><br>
<input type="checkbox" id="Pizza" />
  <label for="Pizza" class="inline">Pizza</label><br>
<input type="checkbox" id="Sandwiches" />
  <label for="Sandwiches" class="inline">Sandwiches</label><br>
<input type="checkbox" id="Seafood" />
  <label for="Seafood" class="inline">Seafood</label><br>
<input type="checkbox" id="Steakhouse" />
  <label for="Steakhouse" class="inline">Steakhouse</label><br>
<input type="checkbox" id="Sushi" />
  <label for="Sushi" class="inline">Sushi</label><br>
</div>
<br>
<center>What is your favorite baseball team?</center>
<div class="col_4">
  <!-- Select -->
<label for="select1">American League</label>
<select id="select1">
<option value="0">-- Choose --</option>
<option value="1">Baltimore Orioles</option>
<option value="2">Boston Red Sox</option>
<option value="3">Chicago White Sox</option>
<option value="4">Cleveland Indians</option>
<option value="5">Detriot Tigers</option>
<option value="6">Houston Astros</option>
<option value="7">Kansas City Royals</option>
<option value="8">Los Angeles Angels</option>
<option value="9">Minnesota Twins</option>
<option value="10">New York Yankees</option>
<option value="11">Oakland Athletics</option>
<option value="12">Seattle Mariners</option>
<option value="13">Tampa Bay Rays</option>
<option value="14">Texas Rangers</option>
<option value="15">Toronto Blue Jays</option>
  </select>
<br>
  <br>
  <!-- Select -->
<label for="select2">National League</label>
<select id="select2">
<option value="0">-- Choose --</option>
<option value="1">Arizona Diamondbacks</option>
<option value="2">Atlanta Braves</option>
<option value="3">Chicago Cubs</option>
<option value="4">Cincinnati Reds</option>
<option value="5">Colorado Rockies</option>
<option value="6">Los Angeles Dodgers</option>
<option value="7">Miami Marlins</option>
<option value="8">Milwaukee Brewers</option>
<option value="9">New York Mets</option>
<option value="10">Philadelphia Phillies</option>
<option value="11">Pittsburgh Pirates</option>
<option value="12">San Diego Padres</option>
<option value="13">San Francisco Giants</option>
<option value="14">St. Louis Cardinals</option>
<option value="15">Washington Nationals</option>
</select>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Buttons w/Colors -->


<center> Click save to create your new profile!
<br>
<br>
<button type="submit" class="medium green" value="save">Save!</button></center>
<br>
	
<!-- ===================================== START FOOTER -->
<!-- ===================================== -->

</div>
</div><!-- END WRAP -->

</form>
